---
import BaseHead from "../../../components/BaseHead.astro";
import Header from "../../../components/Header.astro";
import SinglePageHead from "../../../components/SinglePageHead.astro";
import MobileMenu from "../../../components/MobileMenu.astro";
import Footer from "../../../components/Footer.astro";
import { getCollection } from "astro:content";

type LanguageCollection = "en";

// 获取当前语言
const url = new URL(Astro.request.url);
const lang = url.pathname.split("/")[1] as LanguageCollection;

// 动态加载翻译文件
import translationsEn from "../../../locales/en/translation.json";
const translations = {
    "en": translationsEn,
}[lang];

const t = (key: string) => {
    const keys = key.split(".");
    return (
        keys.reduce(
            (acc, k) => acc && (acc as { [key: string]: any })[k],
            translations
        ) || key
    );
};

export async function getStaticPaths() {
    const allPosts: any = await getCollection("en");

    const uniqueTags = [
        ...new Set(allPosts.map((post: any) => post.data.tags).flat()),
    ];

    return uniqueTags.map((tag) => {
        const filteredPosts = allPosts.filter((post: any) =>
            post.data.tags.includes(tag)
        );
        return {
            params: { tag },
            props: { posts: filteredPosts },
        };
    });
}

const { tag } = Astro.params;
const { posts } = Astro.props;
---

<html lang=`${lang}`>
    <head>
        <BaseHead
            title={t("header.tags")}
            description={t("site.description")}
        />
        <SinglePageHead />
        <style>
            @media (max-width: 720px) {
            }
        </style>
    </head>
    <body>
        <MobileMenu />
        <Header image="/images/header/example-header.jpg" />
        <div class="single-page">
            <main>
                <h1>{tag}</h1>
                <p>Articles with the tag「{tag}」:</p>
                <ul>
                    {
                        posts.map((post: any) => (
                            <li><a href={`/en/${post.slug}/`} rel="noopener">{post.data.title}</a></li>
                        ))
                    }
                </ul>
            </main>
        </div>
        <Footer />
    </body>
</html>
