---
import HeaderLink from "./HeaderLink.astro";
import LanguageSelector from "./LanguageSelector.astro";
import ThemeIcon from "./ThemeIcon.astro";

type LanguageCollection = "zh-hans" | "zh-hant" | "en";

// 获取当前语言
const url = new URL(Astro.request.url);
const lang = url.pathname.split("/")[1] as LanguageCollection;

// 动态加载翻译文件
import translationsZhHans from "../locales/zh-hans/translation.json";
import translationsZhHant from "../locales/zh-hant/translation.json";
import translationsEn from "../locales/en/translation.json";
const translations = {
  "zh-hans": translationsZhHans,
  "zh-hant": translationsZhHant,
  en: translationsEn,
}[lang];

const t = (key: string) => {
  const keys = key.split(".");
  return (
    keys.reduce(
      (acc, k) => acc && (acc as { [key: string]: any })[k],
      translations
    ) || key
  );
};

// 动态加载header背景图
const { image = "/images/header/blog-header.webp" } = Astro.props;
---

<div class="blog-title" style=`background-image: url(${image});`>
  <header>
    <nav>
      <div class="site-logo">
        <a href=`/${lang}`>
          <img
            class="site-logo"
            src="/images/site-logo.webp"
            decoding="async"
            loading="lazy"
          />
        </a>
      </div>
      <div class="internal-links">
        <HeaderLink href=`/${lang}/1`>{t("header.home")}</HeaderLink>
        <HeaderLink href=`/${lang}/archives`>{t("header.archives")}</HeaderLink>
        <HeaderLink href=`/${lang}/tags`>{t("header.tags")}</HeaderLink>
        <HeaderLink href=`/${lang}/messageBoard`>{t("header.message-board")}</HeaderLink>
        <HeaderLink href=`/${lang}/friends`>{t("header.friends")}</HeaderLink>
        <HeaderLink href=`/${lang}/about`>{t("header.about")}</HeaderLink>
        <a href="https://www.travellings.cn/go.html" target="_blank" rel="noopener">{t("header.goto")}</a>
      </div>
      <div class="right-items">
        <LanguageSelector currentLang={lang} />
				<ThemeIcon />
				<button id="site-menu">
					<svg xmlns="http://www.w3.org/2000/svg" width="30px" height="30px" viewBox="0 0 256 256">
						<path class="light-menu" fill="#333333" d="M128 96a32 32 0 1 0 32 32a32 32 0 0 0-32-32m0 40a8 8 0 1 1 8-8a8 8 0 0 1-8 8m80-40a32 32 0 1 0 32 32a32 32 0 0 0-32-32m0 40a8 8 0 1 1 8-8a8 8 0 0 1-8 8M48 96a32 32 0 1 0 32 32a32 32 0 0 0-32-32m0 40a8 8 0 1 1 8-8a8 8 0 0 1-8 8" />
						<path class="dark-menu" fill="#333333" d="M128 96a32 32 0 1 0 32 32a32 32 0 0 0-32-32m0 40a8 8 0 1 1 8-8a8 8 0 0 1-8 8m80-40a32 32 0 1 0 32 32a32 32 0 0 0-32-32m0 40a8 8 0 1 1 8-8a8 8 0 0 1-8 8M48 96a32 32 0 1 0 32 32a32 32 0 0 0-32-32m0 40a8 8 0 1 1 8-8a8 8 0 0 1-8 8" />
					</svg>
				</button>
      </div>
    </nav>
  </header>
</div>

<style>
  header {
    margin: 0;
    position: fixed;
    width: 100%;
    background: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    box-shadow: 0 2px 8px rgba(var(--black), 5%);
    transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
    z-index: 3;
    font-size: 0.8em;
    font-weight: bold;
  }
  :global(.dark) header {
    background: rgba(0, 0, 0, 0.6);
    color: #d8ae7e;
  }

  .site-logo {
    height: 70px;
		z-index: 1;
  }

  #site-menu {
		display: none;
		border: none;
		background: none;
		z-index: 2;
  }
  .light-menu { fill: black; }
  .dark-menu { fill: transparent; }
  :global(.dark) .light-menu { fill: transparent; }
	:global(.dark) .dark-menu { fill: #D8AE7E; }

  .blog-title {
    width: 100%;
    height: 50vh;
    background-size: cover;
    background-position: center;
    z-index: 0;
  }

  h2 {
    margin: 0;
    font-size: 1em;
  }

  h2 a,
  h2 a.active {
    text-decoration: none;
  }
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  nav a {
    padding: 1em 0.5em;
    color: var(--black);
    border-bottom: 4px solid transparent;
    text-decoration: none;
  }
  nav a.active {
    text-decoration: none;
    border-bottom-color: var(--accent);
  }
  :global(.dark) nav a.active {
    text-decoration: none;
    border-bottom-color: #ECB176;
  }
  .social-links,
  .social-links a {
    display: flex;
  }

  .right-items {
    display: flex;
  }

  @media (max-width: 720px) {
	header {
	  padding: 0;
	}

	.site-logo {
	  height: 50px;
	}

	#site-menu {
	  display: block;
	}
    .internal-links {
      display: none;
    }
  }
</style>
